.research-section-content.row.section-content#research
    h2.section-title= 'Research'
    .hunt-statement.container
        h3= 'Hunt Statement'
        p= 'Before I started my research, I wrote the hunt statement to set the goal of what I hope to accomplish through the user research.'
        p= 'I am going to figure out how all the communities related FemTechNet communicate with each other so that I can identify the key factors that enhance or hinder the interaction within communities.'
    .container-fluid
        .row
            .col-sm-4.huntstatement-photo
                img(src=huntImage1)
            .col-sm-4.huntstatement-photo
                img(src=huntImage2)
            .col-sm-4.huntstatement-photo
                img(src=huntImage3)
    .defining-users.container
        H3= 'Defining Users (Personas)'
        .main-persona
            p= 'The archetype of this persona is an educator. She is a member of FemTechNet who wants her students to have strong connections with each other. In the interview with Cricket Keating, she stated, "I was trying to figure out how to get more student involvement in the governance of FemTechNet...those hierarchies would be to break down with the spirits both the feminist\'s spirit and the critical pedagogical spirit" (Keating). The stakeholder wants connection mechanism to be decentralized but at the same time, she wants connections among her students to be active and strong.'
            img(src=personaImage1, width='100%')
        .other-persona
    .data-and-affordance
        H3= 'Data and Affordance'