.problem-section-content.row.section-content#problem
     h2.section-title= 'Problem'
     .section-text
        p= 'FemTechNet is a feminist network of scholars, artists, and activists who want to create feminist innovations and technologies. According to the ethnography interviews, the main problems from our stakeholders are related to an organizational internal tasks, which are cause by the difficulties of communication.'
        p= 'For instance, some communities with students are hard to maintain the long-term involvement as they tend to lose the connections and sense of belonging to FemTechNet. Furthermore, the complexity of having too many different communication platforms has driven some members out from the community.'
     .interview
        .col-sm-6.interview-photo
            img(src=interviewPhoto)
        .col-sm-6.word-cloud
            img(src=wordCloud)
